:root {
  --facebook-bg-color: #4e6ba5;
  --twitter-bg-color: #11bdef;
  --google-plus-bg-color: #d95048;
  --linkedin-bg-color: #0e86c5;
  --instagram-bg-color: #d32f86;
  --white-bg-color: #ffffff;
  --ice-bg-color: #f9f9f9;
  --black-opacity-color: #464646;
}

html {
  background-color: var(--white-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-family: "Lobster", cursive;
  z-index: 1;
  position: relative;
  font-size: 50px;
  color: var(--black-opacity-color);
}

.container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  z-index: 1;
  position: relative;
}

.facebook {
  background-color: var(--facebook-bg-color);
}

.twitter {
  background-color: var(--twitter-bg-color);
}

.google-plus {
  background-color: var(--google-plus-bg-color);
}

.linkedin {
  background-color: var(--linkedin-bg-color);
}

.instagram {
  background-color: var(--instagram-bg-color);
}

.icon {
  color: var(--white-bg-color);
}

.container-bg {
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: 60rem solid transparent;
  background: rgb(255, 255, 255);
  border-left: 100rem solid var(--ice-bg-color);
}

.wrapper {
  position: relative;
  transform: rotate(-30deg) skew(25deg);
  transition: margin-bottom 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 150px;
}

.wrapper-icon {
  position: absolute;
  width: 150px;
  height: 150px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper:hover .wrapper-icon:nth-child(5) {
  transform: translate(80px, -80px);
  opacity: 1;
}

.wrapper:hover .wrapper-icon:nth-child(4) {
  transform: translate(60px, -60px);
  opacity: 0.8;
}

.wrapper:hover .wrapper-icon:nth-child(3) {
  transform: translate(40px, -40px);
  opacity: 0.6;
}

.wrapper:hover .wrapper-icon:nth-child(2) {
  transform: translate(20px, -20px);
  opacity: 0.4;
}

.wrapper:hover .wrapper-icon:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}
